<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playmatecat.bbs.admin.mapper.RoleMapper">

	<resultMap type="com.playmatecat.domains.sysBBS.dto.RoleDTO"
		id="roleMapper">
		<result property="id" column="id" />
		<!-- <association property="" select="" column="" javaType=""/> -->
	</resultMap>

	<sql id="select_header">
		id, name, code, description, is_deleted
	</sql>
    

	<select id="getRoles" parameterType="Map" resultMap="roleMapper">
		SELECT 
		<include refid="select_header" />
		FROM
        <![CDATA[${subSysDatabase}.role]]>
		<where>
			<if test="roleDTO.id != null">
				AND role.id = #{roleDTO.id}
			</if>
			<if test="roleDTO.name != null and roleDTO.name != '' ">
                AND role.name like CONCAT("%", #{roleDTO.name}, "%")  
            </if>
			<if test="roleDTO.code != null and roleDTO.code != '' ">
				AND role.code like CONCAT("%", #{roleDTO.code}, "%")  
			</if>
			<if test="roleDTO.description != null and roleDTO.description != '' ">
				AND role.description like CONCAT("%", #{roleDTO.description}, "%")  
			</if>
			<if test="roleDTO.isDeleted != null ">
				AND role.is_deleted = #{roleDTO.isDeleted}
			</if>
		</where>
		<if test="offset != null and pageSize != null">
            limit #{offset}, #{pageSize}
        </if>
	</select>

	<select id="getRolesCount" parameterType="Map" resultType="Integer">
		SELECT count(1)
		FROM
        <![CDATA[${subSysDatabase}.role]]>
		<where>
			<if test="roleDTO.id != null">
                AND role.id = #{roleDTO.id}
            </if>
            <if test="roleDTO.name != null and roleDTO.name != '' ">
                AND role.name like CONCAT("%", #{roleDTO.name}, "%")  
            </if>
            <if test="roleDTO.code != null and roleDTO.code != '' ">
                AND role.code like CONCAT("%", #{roleDTO.code}, "%")  
            </if>
            <if test="roleDTO.description != null and roleDTO.description != '' ">
                AND role.description like CONCAT("%", #{roleDTO.description}, "%")  
            </if>
            <if test="roleDTO.isDeleted != null ">
                AND role.is_deleted = #{roleDTO.isDeleted}
            </if>
		</where>
	</select>
    
    <select id="getRole" parameterType="Map" resultMap="roleMapper">
        SELECT 
        <include refid="select_header" />
        FROM
        <![CDATA[${subSysDatabase}.role]]>
        <where>
            <if test="roleDTO.id != null">
                AND role.id = #{roleDTO.id}
            </if>
            <if test="roleDTO.name != null and roleDTO.name != '' ">
                AND role.name like CONCAT("%", #{roleDTO.name}, "%")  
            </if>
            <if test="roleDTO.code != null and roleDTO.code != '' ">
                AND role.code like CONCAT("%", #{roleDTO.code}, "%")  
            </if>
            <if test="roleDTO.description != null and roleDTO.description != '' ">
                AND role.description like CONCAT("%", #{roleDTO.description}, "%")  
            </if>
            <if test="roleDTO.isDeleted != null ">
                AND role.is_deleted = #{roleDTO.isDeleted}
            </if>
        </where>
    </select>


    <insert id="addRole">
        INSERT INTO
        <![CDATA[${subSysDatabase}.role]]>
        (name, code, description)
        VALUES
        (#{roleDTO.name},#{roleDTO.code},#{roleDTO.description})
    </insert>
</mapper>