<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playmatecat.bbs.admin.mapper.RoleMapper">

    <resultMap type="com.playmatecat.domains.sysBBS.dto.RoleDTO" id="roleMapper">
        <result property="id" column="id"/>
        <!-- <association property="" select="" column="" javaType=""/> -->
    </resultMap>

    <select id="getRoles" parameterType="Map" resultMap="roleMapper">
        SELECT id as id
        FROM
        <![CDATA[${subSysDatabase}.role]]>
    </select>
</mapper>